<header class="d-flex justify-content-center p-3 mb-3 border-bottom">
    <div class="col-md-4">
     <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img src="https://cdn-icons-png.flaticon.com/512/37/37812.png" width="50" height="45" role="img">
    </a>   
    </div>
  
    <div class="col-md-4">
        <ul class="nav nav-pills">
          <li><a routerLink="/product" class="nav-link">Product</a></li>
          <li><a routerLink="/student" class="nav-link">Student</a></li>

  </ul>
    </div>

    <div class="col-md-3">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
  
</header>