<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- <form #productForm="ngForm" class="form" (submit)="onSubmit(productForm)">
                <p>{{productForm.value | json}}</p>

                <p>{{newProduct | json}}</p>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" [(ngModel)]="newProduct.name" placeholder="name">
                </div> <br>

                <div class="form-group">
                    <input type="text" class="form-control" name="price" [(ngModel)]="newProduct.price" placeholder="price">
                </div> <br>

                <div class="form-group">
                    <input type="text" class="form-control" name="desc" [(ngModel)]="newProduct.desc" placeholder="desc">
                </div> <br>

                
            </form> -->

            

            <!-- <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div> -->

            <p>{{newProduct | json}}</p>
        </div>

        <div class="col-md-12">
            <a routerLink="/product/create">
                <button class="btn btn-primary">
                  Tạo mới
                </button>
              </a>
            <table class="table table-hover">
                <thead class="table table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Giá</th>
                        <th>Mô tả</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody *ngFor="let product of products">
                    <tr>
                        <td>{{product.id}}</td>
                        <!-- <td>{{product.name}}</td> -->
                        <td>
                            <app-product-name
                            [name]="product.name"
                            ></app-product-name>
                        </td>
                        <td>{{product.price}}</td>
                        <td>{{product.desc}}</td>
                        <td>
                            <app-status [status]="product.status" (changeStatus)="parentChangeStatus($event, product.id)"></app-status>
                        </td>
                        
                        <td>
                            <input [routerLink]="['/product', product.id]" type="button" class="btn btn-primary" value="Xem chi tiết">
                            <input [routerLink]="['/product', product.id, 'edit']" type="button" class="btn btn-success" value="Sửa">
                            <input type="button" (click)="onDelete(product.id)" class="btn btn-danger" value="Xóa">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>